.App {
    background: lightgrey;
    height: 100vh;
}
.appView {
    padding: 40px 100px 20px 100px;
}

.appTitle {
    flex-grow: 1;
}
.navBar {
    padding: 10px 4px;
    display: flex;
    align-items: center;
}

.searchInput {
    margin-left: 10px;
    padding-left: 20px;
    flex: 1;
}

.dashboard {
    padding-top: 40px;
    display: flex;
}

.note {
    margin: 20px;
    height: 200px;
    width: 250px;
    padding-left: 10px;
}

.iconButton {
    padding: 10px;
}